@model Mvc5_ImageGallery.Image

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "ImageUp", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true)*@
    
    <div class="form-horizontal">
        <h4>Image</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <fieldset class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            </div>
            <div class="editor-field col-md-10">
                <input id="ImagePath" title="Upload a Product Image" type="file" name="file" class="btn btn-default" onchange="show(this)" />
            </div>
        </fieldset>
        <div>
            <img id="user_img" height="240" width="180" style="border:solid;" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")    
    <script>
        function show(data) {
            var filedr = new FileReader();
            filedr.onload = function (e) {
                $("#user_img").attr('src', e.target.result);
            }
            filedr.readAsDataURL(data.files[0]);
        }
    </script>
}